/* Paul Irish - paulirish.com – * { Box-sizing: Border-box } FTW */
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}
body {
  background-color: #fefefe;
  font-size: 16px;
}

.container {
  width: 600px;
  margin: 56px auto;
  font-family: 'Open Sans', "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {margin-bottom: 30px;}
  .img-side {
    display: inline-block;
    margin: 0 0 0 22px;
    vertical-align: middle;
  }
    h1 {
      margin: 8px 0;
      font-size: 1.4em;
      font-weight: 700;
      color: #111;
    }
    .social-links a {
      font-size: 1.4em;
      padding: 12px 6px;
    }

h2 {
  margin: .1em 0 .4em;
  font-size: 1.2em;
  line-height: 1em;
  font-weight: 400;
  color: #111;
}

img {
  width: 100px;
  height: 100px;
  vertical-align:middle;
  border-radius: 50%;
}

p {
  margin: 0 0 1.1em;
  line-height: 1.8em;
  font-weight: 300;
  color: #333;
}
  strong {font-weight: 400; margin: 0;}
  a {
    opacity: .9;
    font-weight: 400;
    color: #000;
    text-decoration: none;
    transition: opacity .2s;
  }
    a:hover {
      opacity: 1;
      text-decoration: underline;
    }

    .so         {color: #f90;}
    .cio        {color: #1d305d;}
    .eio        {color: #80bd01;}
    .hetic      {color: #9ecc3d;}
    .extensio   {color: #ff7f66;}
    .fa-twitter {color: #34ccfe;}
    .fa-github  {color: #333;}

.fa {
  font-size: 1.2em;
}

.break {clear: both;}

@media screen and (max-width: 768px) {
  .container {
    width: 86%;
    font-size: .92em;
  }
}

@media screen and (max-width: 460px) {
  .container {
    width: 86%;
    font-size: .86em;
  }
  .no-smartphone {
    display: none;
  }
}
